# IDE files
.idea/*
.vscode/

# CMake files
cmake-build-*/
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt

# executable
img_sound_proc

# test
Testing/
my_test*
CTestTestfile.cmake
out.png
out.txt

# Doxygen
html/
latex/
